<div class="side-navbar">
    <div class="navbar-header">
        <h2>Budget Bhasan</h2>
    </div>
    <ul class="navbar-links">
        <li>
            <a href="/dashboard" class="nav-link">
                <span class="icon">📊</span>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/debt" class="nav-link">
                <span class="icon">💳</span>
                <span class="text">Debt</span>
            </a>
        </li>
        <li>
            <a href="/inflow" class="nav-link">
                <span class="icon">💵</span>
                <span class="text">Inflow</span>
            </a>
        </li>
        <li>
            <a href="/debit" class="nav-link">
                <span class="icon">💸</span>
                <span class="text">Outflow</span>
            </a>
        </li>
        <li>
            <a href="/debthistory" class="nav-link">
                <span class="icon">🔑</span>
                <span class="text">Debt History</span>
            </a>
        </li>
    </ul>
</div>